# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Dependencies
.venv/
uv.lock
.env

# Scrapy
.scrapy

# Streamlit
.streamlit/

# Testing & Linting
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# OS specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
